# Virtual environment folders
venv/
env/

# Output files
*.h5
*.npz
*.log

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
*.env
